body{
  font-family:  Arial, sans-serif;
  margin: 0;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  font-size: 20px;
  border-right: 3px solid gray;
  width: 20%;
  overflow: scroll;
  /* without this property scrollbar would not exist */
}

nav header{
  padding: 20px 23px 0 23px  ;
  font-size: 38px;
  color: rgb(56, 55, 55);
}

nav ul{
  padding: 0  6px 0 0 ;
}

nav ul li{ 
  padding: 18px 35px;
  list-style-type: none;
  border-bottom: 0.6px solid gray;
  transition: all 0.26s;
}

nav ul li:hover{
  background-color: rgb(210, 209, 209);
  cursor: pointer;
  padding-left: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: black;
  font-weight: bold;
}

article{
  color: rgb(109, 109, 109);
  font-size: 18px;
  margin-left: 40px;
}

/* ul li with uniqie id's custom adjustments */
#intro-list li{
  margin: 20px;
}

#should_know-list li{
 margin: 25px;
}

#data-list li{
  list-style: circle;
}

#data-list li{
  line-height: 3;
}


nav ul a{
  text-decoration: none;
  color: rgb(83, 82, 82);
}

main{
  padding: 15px 30px 50px 400px;
}

.main-section header{
 font-size: 35px;
 margin: 30px 0 30px 20px;
}

code{
  display: block;
  padding: 20px;
  background-color: rgb(244, 244, 244);
  margin: 20px;
}



/* Responsive design with "media query" */

@media(max-width: 860px){
 nav{
  width: 98%;
  height: 70%;
  position: absolute;
 top: 3px;
 left: 10px;
 border-right: none;
 }

 nav header{
  position: sticky;
  background-color: white;
  left: 0;
  top: 0;
  right: 30px;
  text-align: center;
  border-bottom: 0.5px solid;
  padding-bottom: 26px;

 }

nav ul{
  border: 2px solid;
  margin-top: 0;
}

 nav ul li{
  padding: 12px 0 12px 35px;
  width: 98%;
 }

 main{
  padding-top: 290px;
  padding-left: 0;
 }

 main header{
  padding-left: 27px;
 }

 main article{
  padding-left: 25px;
 }
}

@media(min-width:861px){
  nav{
    width: 36%;
    }

  main{
    padding-left: 320px;
    width: 520px;
  }
  
}
@media(min-width:890px){
  nav{
    width: 30%;
    }
  main{
    padding-left: 360px;
    width: 651px;
  }
}

@media(min-width:1300px){
  nav{
    width: 21%;
    }
    
  main{
    padding-left: 400px;
    width: 1411px;
  }

}

